.pattern{
    height: 200px;
    background-color: rgb(7, 129, 185);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    text-align: bottom;
}

#logo{
    height: 100px;
    padding-top: 100px;
    
}

#titolo{
    text-align: justify;
    font-size: 50px;
}
.autore, .data{
    color: gray;
}
.autore{
    font-size: 20px;
}

#colore_blu{
    color: rgb(0, 132, 255);
}
.tim_imgs{
    text-align: center;
}
.descr_img{
    text-align: left;
}